public net.minecraft.client.gui.components.AbstractSelectionList f_93399_ #scrolling
public net.minecraft.client.gui.components.AbstractSelectionList scrolling

public net.minecraft.client.sounds.SoundManager f_120349_ # soundEngine
public net.minecraft.client.sounds.SoundManager soundEngine

public net.minecraft.client.sounds.SoundEngine 	f_120226_ #instanceToChannel
public net.minecraft.client.sounds.SoundEngine instanceToChannel

public net.minecraft.client.sounds.SoundEngine f_120222_ # soundBuffers
public net.minecraft.client.sounds.SoundEngine soundBuffers

public com.mojang.blaze3d.audio.SoundBuffer f_83793_ # data
public com.mojang.blaze3d.audio.SoundBuffer data

public net.minecraft.client.sounds.ChannelAccess$ChannelHandle f_120146_ #channel
public net.minecraft.client.sounds.ChannelAccess$ChannelHandle channel

public com.mojang.blaze3d.audio.Channel f_83642_ # source
public com.mojang.blaze3d.audio.Channel source

public com.mojang.blaze3d.audio.Channel f_83645_ # stream
public com.mojang.blaze3d.audio.Channel stream

#public net.minecraft.nbt.NbtAccounter f_128919_ # usage
#public net.minecraft.nbt.NbtAccounter usage

#public net.minecraft.client.gui.components.EditBox m_94216_()I #getMaxLength
#public net.minecraft.client.gui.components.EditBox getMaxLength

##public net.minecraft.command.CommandSource field_197041_c #source
##public net.minecraft.command.CommandSource source

#public net.minecraft.world.inventory.AbstractContainerMenu f_38848_ #containerListeners
#public net.minecraft.world.inventory.AbstractContainerMenu containerListeners

#public net.minecraft.server.Services f_214337_ #USERID_CACHE_FILE
#public net.minecraft.server.Services USERID_CACHE_FILE

